body {

    background-image: url('images/bgall.jpg');


}

#main-navigation {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);

    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    position: sticky;
    z-index: 1000;
}

#all-posts {
    margin: 7rem auto;
    width: 90%;
    max-width: 60rem;
}

#all-posts h2 {
    text-align: center;
    font-size: 2rem;
    color: #2e2e2e;
    margin: 3rem 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 17rem);
    gap: 1.5rem;
}

.post img {
    width: 7rem;
    height: 7rem;
}

.post a {
    display: block;
    width: 100%;
    height: 22rem;
    box-sizing: border-box;
    transform-origin: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    background-color: white;
    overflow: hidden;
}