{% extends "base.html" %} 
{% load static %}

{% block title %} 
My Blog 
{% endblock %} 

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/post.css" %}" />
  <link rel="stylesheet" href="{% static "blog/index.css" %}" />
{% endblock %}

{% block content %}


<section id="welcome">
  <header>
    <img src="{% static "blog\images\kuldeep.jpg" %}" alt="Kuldeep - The Author Of This Blog" />
    <h2>TypeTyper</h2>
 </header>
 <p>Hi, I am Kuldeep , an engineering student.
  <br>
  And welcome to my Blog !
</p>
  
</section>

<section id="latest-posts">
  <h2>Latest Posts</h2>

  <ul>
    {% for post in posts  %}
      {% include "blog/includes/post.html" %}
    {% endfor %}
  </ul>
</section>

<footer id="footer">
  <div class="footer-container">
    <h2>Stay Connected</h2>
    <div class="footer-content">
      <div class="footer-info">
        <p>
          I'm a passionate developer who writes a bit and codes sometimes. 
          Let's connect and grow together!
        </p>
        <p>
          Email: <a href="mailto:kuldeepbora.k@gmail.com">kuldeepbora.k@gmail.com</a>
        </p>
      </div>
      <div class="footer-social">
        <a href="https://x.com/Co_oldeep" title="X">X.com</a>
        <a href="https://www.linkedin.com/in/kuldeep-bora-11762b221/" title="LinkedIn">LinkedIn</a>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2025 Kuldeep. All rights reserved.</p>
    </div>
  </div>
</footer>

{% endblock %}